.jumbotron {
  background-image: url('../img/pingpong.jpg');
  background-size: cover;
  background-position: 50% 45%;
  background-repeat: no-repeat;
  width: auto;
  height: 500px;
  color: white;
}

.jumbotron2 {
  margin: auto;
}

.about {
  color: red;
  font-style: "Hevitica";
}

.col-sm-2 {
  background-color: grey;
}

.col-sm-10 {
  background-color: grey;
}

body {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 0px;
  background-color: #d7e0ef;
}

#contact {
  font-style: "Hevitica";
  font-size: 32px;
  color: white;
}

.navbar-footer {
  margin-top: 10px;
  padding-bottom: 0px;
}

#body {
  padding-bottom: 5%
}

#footer {
  padding: 0px;
  margin-bottom: 5px;
}
